* {
    font-family: "CaskaydiaCove Nerd Font";
}
.eww-gjogre {
    background-color: rgba(0, 0, 0, 0.5);
}
.clock {
    font-size: 36px;
    font-weight: bold;
}
.thermometer-details {
}
.middle-sidepanel {
    border: 0px solid #800080;
    border-radius: 10px;
}
.bottom-sidepanel {
    border: 0px solid #800080;
    border-radius: 10px;
}
.top-sidepanel {
    border: 0px solid #800080;
    border-radius: 10px;
}

.suspended {
    color: red;
}

button {
    background: transparent;
    border: 0;
}
