@import url("./colors.css");
* {
    border: none;
    border-radius: 0;
    font-family: IosevkCaskaydia Cove Nerd Fonta;
    font-size: 14pt;
    min-height: 0;
}
window#waybar {
    opacity: 0.9;
    /*background: @background-darker;*/
    background: transparent;
    color: @foreground;
   /* border-bottom: 2px solid @background; */
}
#workspaces button {
    padding: 0 10px;
    background: @background;
    font-weight: bold;
    color: @foreground;
    
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-image: linear-gradient(0deg, @selection, @background-darker);
}
#workspaces button {
    color: #d4d4d4;

}
#workspaces button.empty {
    color: #727272;
}
#workspaces button.visible {
    /*background-image: linear-gradient(0deg, @purple, @selection);*/
    /*border-bottom: 3px solid @purple;*/
    color: #800080;

}
#workspaces button:nth-child(3) {
  margin-right: 10px;
}
    
  

#workspaces button.urgent {
    background-image: linear-gradient(0deg, @red, @background-darker);
}
#taskbar button.active {
    background-image: linear-gradient(0deg, @selection, @background-darker);
}
#clock {
    padding: 0 4px;
    background: @background;
}
/*#idle_inhibitor, #mpd, #pulseaudio, #network, #cpu, #memory, #temperature, #clock {*/
.modules-right label.module {
    padding-left: 8px;
    padding-right: 8px;
    
    padding-top: 5px;
    padding-bottom: 5px;
    
    border-radius: 10px;

    background: @background;
    color: inherit;
    font-weight: 600;
    /*border-top: 4px solid transparent;
    border-left: 2px dashed #a678d3;*/
    margin-right: 4px;

    font-size: 11pt;
    border-bottom: 3px solid @purple;
}

#custom-cpu_temp.module {
  
}

#idle_inhibitor {
  background: none;
  border-bottom: none;
}
#idle_inhibitor.activated {
  color: #44d62c;
}
#clock {
  background: none;
  border-bottom: none;
  font-size: 16pt;
}
